
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
	<meta name="Group5" content="CW Project">

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<link rel="icon" href="/img/favicon.ico">
	<link href="http://alfredoferreira.eu/cw/css/bootstrap.min.css"rel="stylesheet">
	<link href="http://alfredoferreira.eu/cw/css/bootstrap-theme.min.css"rel="stylesheet">
	<link href="http://alfredoferreira.eu/cw/css/theme.css"rel="stylesheet">

	<title>SISE-CWEB-Project</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">



</head>

<body ng-app="cwApp" ng-controller="defaultCtrl">
	<!--<div ng-app="cwApp" ng-controller="diogo">-->
	

	<div ng-show="first">
		<div class="container">

			<div class="row">
				<div class="col-sm-6 col-md-4 col-md-offset-3">
					<h1 class="text-center login-title">INSURE</h1>
					<div class="account-wall">
						<img src = "/img/insure_big_i.png" class = "img-thumbnail">
						<form class="form-signin" name = "login">
							<input type="text" class="form-control" placeholder="User" name = "user" required>

							<input type="password" class="form-control" placeholder="Password" name="pswrd" required>


							<button class="btn btn-lg btn-primary btn-block" type="button" ng-click="gotosecond();" value="Login" >
								Login
							</button>

									<!--<script language="javascript">
										function check(form) { /*function to check userid & password*/
										/*the following code checkes whether the entered userid and password are matching*/
											if(form.email.value == "myuserid" && form.pswrd.value == "mypswrd") {
												window.open('Insure2.html','_self');/*opens the target page while Id & password matches*/
											}
											else {
												alert("Error Password or Username");/*displays error message*/
											}
										}
									</script>-->								
									
									<label class="checkbox pull-left">
										<input type="checkbox" value="remember-me">
										Remember me
									</label>
									<a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
								</form>
							</div>
							<a href="#" class="text-center new-account">Create an account </a>
						</div>
					</div>
				</div>
			</div>


			<!--segunda pagina-->
			<div ng-show="second">
				<!--tabela principal -->
				<table class="table table-bordered" >
					<thead>
						<tr class = "info">
							<!-- 1ª linha com tabelas contendo titulo e dc com imagens-->
							<th>
								<!--tabela com logo insure e titulo da app -->
								<table>
									<thead>
										<tr>
											<!-- logo InSure-->
											<th style = "width:10%">
												<img src = "/img/insure_i.png" class = "img-thumbnail">
											</th>
											<!-- titulo InSure-->
											<th style = "width:15%">
												<h1>InSureApp <span class="label label-default"></span></h1>
											</th>
										</tr>
									</thead>
								</table>
							</th>
							<th style = "width:75%">
								<!--tabela com nome médico e imagem -->
								<table>
									<thead>
										<tr>
											<!-- nome do medico-->
											<th style = "width:14%">
												<h3 class = "pull-right">Dr.Nick Riviera <span class="label label-default"></span></h3>
											</th>
											<!-- imagem de perfil-->
											<th style = "width:1%">
												<div class="text-xs-center">
													<img src = "/img/doctor_i.png" class = "img-thumbnail">
												</div>
											</th>
										</tr>
									</thead>
								</table>
							</th>
						</tr>
					</thead>

					<tbody>
						<!--2ª linha, 1ª coluna -->

						<tr>
							<td>
								<!--lista de espera -->
								<h2>Waiting List <span class="label label-default"></span></h2>
								<p>
									<form name="cwForm" style= "font-size: 20px;" novalidate>
										<strong>Search:</strong>

										<input type="text" data-ng-model="course_filter">
									</form>
								</p>
								<!--painel com links para os clientes -->
								<div class = "panel panel-primary">
									<div class = "panel-body"style="height: 775px; overflow-y: scroll;">


										<ul>
											<li ng-repeat="p in patient | orderBy:'name'| filter:course_filter">

												<a ng-click="gotothird(p)">{{ p.name }}</a><br><br>
											</li>
										</ul>


									</div>
								</div>
							</td>
							<!--2ª linha 2ª coluna -->
							<td>

								<h2>Insurance Requests <span class="label label-default"></span></h2>

								<div class="panel panel-primary">

									<div class="panel-heading">Pending</div>

									<div class="panel-body" style="max-height: 155px; overflow-y: scroll;">

										<table ng-controller="defaultCtrl">
											<tr data-ng-repeat="r in request | filter: {status: 'PENDING'}">
												<td role="presentation"> ReqID: {{ r.reqID }} &nbsp &nbsp RepID{{ r.repID }} <br><br></td>
											</tr>
										</table>

									</div>
								</div>

								<div class="panel panel-primary">

									<div class="panel-heading">Requested</div>

									<div class="panel-body" style="max-height: 155px; overflow-y: scroll;">

										<table ng-controller="defaultCtrl">
											<tr data-ng-repeat="r in request | filter: {status: 'REQUESTED'}">
												<td role="presentation"> ReqID: {{ r.reqID }} &nbsp &nbsp RepID{{ r.repID }} <br><br></td>
											</tr>
										</table>

									</div>
								</div>


								<div class="panel panel-primary">

									<div class="panel-heading">Aproved</div>

									<div class="panel-body" style="max-height: 155px; overflow-y: scroll;">

										<table ng-controller="defaultCtrl">
											<tr data-ng-repeat="r in request | filter: {status: 'ACCEPTED'}">
												<td role="presentation"> ReqID: {{ r.reqID }} &nbsp &nbsp RepID{{ r.repID }} <br><br></td>
											</tr>
										</table>

									</div>
								</div>

								<div class="panel panel-primary">

									<div class="panel-heading">Rejected</div>

									<div class="panel-body" style="max-height: 155px; overflow-y: scroll;">

										<table ng-controller="defaultCtrl">
											<tr data-ng-repeat="r in request | filter: {status: 'REJECTED'}">
												<td role="presentation"> ReqID: {{ r.reqID }} &nbsp &nbsp RepID{{ r.repID }} <br><br></td>
											</tr>
										</table>

									</div>
								</div>


							</td>
						</tr>

					</tbody>
				</table>

			</div>
			<!--terceira pagina-->

			<div ng-show="third">
				<!--tabela principal -->
				<table class="table table-bordered" >
					<thead>
						<!-- tenta mudar cor da linha-->
						<tr class = "info">
							<!-- 1ª linha com tabelas contendo titulo e dc com imagens-->
							<th>
								<!--tabela com logo insure e titulo da app -->
								<table>
									<thead>
										<tr>
											<!-- logo InSure-->
											<th style = "width:10%">
												<img src = "/img/insure_i.png" class = "img-thumbnail">
											</th>
											<!-- titulo InSure-->
											<th style = "width:15%">
												<h1>InSureApp <span class="label label-default"></span></h1>
											</th>
										</tr>
									</thead>
								</table>
							</th>
							<th style = "width:75%">
								<!--tabela com nome médico e imagem -->
								<table>
									<thead>
										<tr>
											<!-- nome do medico-->
											<th style = "width:14%">
												<h3 class = "pull-right">Dr.Nick Riviera <span class="label label-default"></span></h3>
											</th>
											<!-- imagem de perfil-->
											<th style = "width:1%">
												<div class="text-xs-center">
													<img src = "/img/doctor_i.png" class = "img-thumbnail">
												</div>
											</th>
										</tr>
									</thead>
								</table>
							</th>
						</tr>
					</thead>

					<tbody>
						<!--2ª linha, 1ª coluna -->
						<tr>
							<td>
								<!--lista de espera -->
								<h2>Patient Information <span class="label label-default"></span></h2>
								<br><br>
								<!--painel com links para os clientes -->
								<form name="cwForm" style= "font-size: 20px;" novalidate>
									<strong>Name:</strong> {{patient}}
									<br><br>
									<form name="cwForm" style= "font-size: 20px;" novalidate>
										<strong>Patient ID:</strong> {{patid}}
										<br><br>
										<form name="cwForm" style= "font-size: 20px;" novalidate>
											<strong>Policy:</strong> {{policy}}
											<br><br>
											<form name="cwForm" style= "font-size: 20px;" novalidate>
												<strong>Policy Type:</strong> {{policytype}}
											</td>
											<!--2ª linha 2ª coluna -->
											<td>

												<h2>Medical Acts <span class="label label-default"></span></h2>
												<br><br>
												<div style="height: 350px; overflow-y: scroll;">	

													<table class="table" id="actstable" width="300px">
														<thead>
															<tr>
																<th>Act ID</th>
																<th>Name</th>
																<th>Cost</th>
																<th>Reimbursement(%)</th>
																
																<th>Delete</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>4</td>
																<td>X-Ray</td>
																<td>25</td>
																<td>0.5</td>
																
																<td><button type="button" class="btn btn-xs  btn-lg pull-center" ng-click = "">-</button></td>
															</tr>
															<tr>
																<td>{{actid}}</td>
																<td>{{actname}}</td>
																<td>{{actcost}}</td>
																<td>{{reimbursement}}</td>
																<td><button type="button" class="btn btn-xs  btn-lg pull-center" ng-click = "delete(a)">-</button></td>
															</tr>
					<!--
					<div ng-show="add">
					<tr>
						<td>Blood Tests</td>
						<td>5</td>
						<td>0.5</td>
						<td>10</td>
						<td><button type="button" class="btn btn-xs  btn-lg pull-center" ng-click="hideadd()">Enter</button></td>
					</tr>
					</div>
				-->
			</tbody>
		</table>
			<!--
			<table ng-controller="defaultCtrl">
			<tr>
			<td>Blood Tests</td>
				<td>5</td>
				<td>0.5</td>
				<td>10</td>
				<td><button type="button" class="btn btn-xs  btn-lg pull-center" ng-click="delete()">delete</button></td>
			</tr>
			</table>
		-->


	</div>
	<!--
	
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Action <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" ng-controller="defaultCtrl">
		<li ng-repeat="a in act | orderBy:'name'"> {{ a.name }} </li>
		</ul>
	</div>
	-->

	<button type="button" class="btn btn-primary  btn-lg pull-left" ng-click="shownewact();">Add</button>


	<!--<button type="button" class="btn btn-primary  btn-lg center-block">Submit</button>-->

	<div class ="text-center">
		<a ng-click="gotosecond()" class="btn btn-primary btn-lg text-center" role="button">Submit</a>
	</div>

	<div ng-show = "newact">
	<h2>Add New Act <span class="label label-default"></span></h2>
								<p>
									<form name="cwForm" style= "font-size: 20px;" novalidate>
										<strong>Search:</strong>

										<input type="text" data-ng-model="course_filter">
									</form>
								</p>
								<!--painel com links para os clientes -->
								<div class = "panel panel-primary">
									<div class = "panel-body"style="height: 125px; overflow-y: scroll;">


										<ul>
											<li ng-repeat="a in act | orderBy:'name'| filter:course_filter">

												<a ng-click="createact(a)">{{ a.name }}</a><br><br>
											</li>
										</ul>


									</div>
								</div>
								<button type="button" class="btn btn-primary  btn-lg pull-left" ng-click="hidenewact();">Cancel</button>
</div>
	

</td>
</tr>

</tbody>
</table>



</div>



<script src="/js/bl.js"></script>
<script src="/js/app.js"></script>
</body>
</html>
