<!DOCTYPE html>

<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
            <meta name="Ana" content="CW project">
                <title>CW Project Page 2</title>
                <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
                <script src="cwApp.js"></script>
				
				<link href ="http://alfredoferreira.eu/cw/css/bootstrap.min.css"
					rel = "stylesheet">
					
				<link href = "http://alfredoferreira.eu/cw/css/bootstrap-theme.min.css"
					rel = "stylesheet">
					
				<link href = "http://alfredoferreira.eu/cw/css/theme.cess"
				rel = "stylesheet">
				
				<script src="cwApp.js"></script>
          
    </head>
	
	<body>
	
		<div data-ng-app="cwApp">
			 		
		<!--tabela principal -->
		<table class="table table-bordered" >
		<thead>
		<tr class = "info">
		<!-- 1ª linha com tabelas contendo titulo e dc com imagens-->
			<th>
				<!--tabela com logo insure e titulo da app -->
				<table>
				<thead>
					<tr>
					<!-- logo InSure-->
						<th style = "width:10%">
							<img src = "insure_i.png" class = "img-thumbnail">
						</th>
						<!-- titulo InSure-->
						<th style = "width:15%">
							<h1>InSureApp <span class="label label-default"></span></h1>
						</th>
					</tr>
				</thead>
				</table>
			</th>
			<th style = "width:75%">
				<!--tabela com nome médico e imagem -->
				<table>
				<thead>
					<tr>
					<!-- nome do medico-->
						<th style = "width:14%">
							<h3 class = "pull-right">Dr.Nick Riviera <span class="label label-default"></span></h3>
						</th>
						<!-- imagem de perfil-->
						<th style = "width:1%">
							<div class="text-xs-center">
								<img src = "doctor_i.png" class = "img-thumbnail">
							</div>
						</th>
					</tr>
				</thead>
				</table>
			</th>
		</tr>
		</thead>
		
    <tbody>
	<!--2ª linha, 1ª coluna -->
		
		<div data-ng-app="cwApp"                                                          
             data-ng-controller="cwCtrl"
			 ng-init="cwSwitch=false">     
	 <tr>
        <td>
			<!--lista de espera -->
			<h2>Waiting List <span class="label label-default"></span></h2>
			<p>
			<form name="cwForm" style= "font-size: 20px;" novalidate>
			<strong>Search:</strong>
					
					<input type="text" data-ng-model="course_filter">
					</form>
			</p>
			<!--painel com links para os clientes -->
			<div class = "panel panel-primary">
			<div class = "panel-body"style="height: 630px; overflow-y: scroll;">
			
			
				
				<table ng-controller="patientsCtrl">
				<tr data-ng-repeat="p in patients | orderBy:'name'| filter:course_filter">
					<td role="presentation"><a href="InSure3">{{ p.name }}<br><br></td>
				</tr>
			</table>
			<br>
			<!--
				<ul class="nav nav-pills">
					<li role="presentation"><a href="InSure3">Ana Barrona</a></li>
				</ul>
				<br>
			
				<ul class="nav nav-pills">
					<li role="presentation"><a href="#">Catarina Carreira</a></li>
				</ul>
				<br>
			
				<ul class="nav nav-pills">
					<li role="presentation"><a href="#">Diogo Soares</a></li>
				</ul>
				<br>
			
				<ul class="nav nav-pills">
					<li role="presentation"><a href="#">Filipe Santos</a></li>
				</ul>
				<br>
			
				<ul class="nav nav-pills">
					<li role="presentation"><a href="#">Rita Silva</a></li>
				</ul>
				<br>
				
				<ul class="nav nav-pills">
					<li role="presentation"><a href="#">Joao Caetano</a></li>
				</ul>
				<br>
				
			-->
			</div>
			</div>
		</td>
        <!--2ª linha 2ª coluna -->
		<td>
		
			<h2>Insurance Requests <span class="label label-default"></span></h2>
				<br><br>
				<div class="panel panel-primary">
					
					 <div class="panel-heading">Pending</div>
					
					 <div class="panel-body" style="max-height: 155px; overflow-y: scroll;">
					 <!--
						Claim 0001 <br><br>
						Claim 0002 <br><br>
						Claim 0003 <br><br>
						Claim 0004 <br><br>
						Claim 0005 <br><br>
						-->
						<table ng-controller="requestsCtrl">
				<tr data-ng-repeat="r in requests | filter: {status: 'PENDING'}">
					<td role="presentation"><a href="InSure3"> ReqID: {{ r.reqID }} &nbsp &nbsp RepID{{ r.repID }} <br><br></td>
				</tr>
				</table>
				
					</div>
				</div>
				
				<div class="panel panel-primary">
					
					 <div class="panel-heading">Aproved</div>
					
					 <div class="panel-body" style="max-height: 155px; overflow-y: scroll;">
					 <!--
						Claim 0010 <br><br>
						Claim 0020 <br><br>
						Claim 0030 <br><br>
						Claim 0040 <br><br>
						Claim 0050 <br><br>
						-->
						<table ng-controller="requestsCtrl">
				<tr data-ng-repeat="r in requests | filter: {status: 'ACCEPTED'}">
					<td role="presentation"><a href="InSure3"> ReqID: {{ r.reqID }} &nbsp &nbsp RepID{{ r.repID }} <br><br></td>
				</tr>
				</table>
				
					</div>
				</div>
				
				<div class="panel panel-primary">
					
					 <div class="panel-heading">Rejected</div>
					
					 <div class="panel-body" style="max-height: 155px; overflow-y: scroll;">
					 <!--
						Claim 0001 <br><br>
						Claim 0002 <br><br>
						Claim 0003 <br><br>
						Claim 0004 <br><br>
						Claim 0005 <br><br>
						-->
						<table ng-controller="requestsCtrl">
				<tr data-ng-repeat="r in requests | filter: {status: 'REJECTED'}">
					<td role="presentation"><a href="InSure3"> ReqID: {{ r.reqID }} &nbsp &nbsp RepID{{ r.repID }} <br><br></td>
				</tr>
				</table>
				
					</div>
				</div>
		</div>
					
		</td>
      </tr>

    </tbody>
	</table>
		
	</div>
	</div>
	</body>
	